/* ---- COLORS ---- */
$black: #000000;
$grey2: #E3E3E3;
$grey1: #F5F5F2;
$green: #04AE00;
$alert: #ff0000;
$links: #56819F;
$linksHov: #F58220;
$greyFont: #979797;
$sideMenu: #191919;
$sideMenuHov: #282828;
$sideMenuBor: #F58220;

/* Buttons and notifications */
$themeButton: #F58220;
$themeButtonHov: #FFA200;
$greyButton: #979797;
$greyButtonHov: #bababa;
$positiveNot: #74B67A;
$lightPositiveNot: #96CC9B;
$negativeNot: #DE5252;
$lightNegativeNot: #EC7171;

/* ---- FONTS ---- */
/* Font sizes*/
$paragraphFontSize: 16px;
$sectionHeaderFontSize: 14px;
$pageHeaderFontSize: 14px;
$largeLinkFontSize: 18px;
$smallLinkFontSize: 16px;
/* Font styles */
$brandFont: "Open Sans";
$paragraphFont: "Open Sans";