@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
@import "components/fonts";
@import "components/buttons";
@import "components/checkbox";
@import "components/tables";
@import "components/inputs";
@import "components/tabs";
@import "components/notifications";

/* Sections */
@import "sections/sideMenu";
@import "sections/topMenu";
@import "sections/mainSmallBox";

/* Pages */
@import "pages/dashboard";

/* PERSONAL DATA */

.personalData {
    .form-group {
        width: 70%;
        padding-left: 15%;
        .label {
            padding: 10px;
        }
    }
}

/* ---- SLIDER ---- */

/* ---- PAGINATION ----*/

/* ---- MESSENGER ----*/