/* general statistics */
.generalStatistics {
    .topRow {
        text-align: center;
        padding: 20px 0;
        .inputDateBox {display: inline-block;}
        button {
            svg {
                fill: white;
                width: 15px;
                height: 15px;
            }
        }
    }

	.tableWithDigit {margin: 20px auto;}
    .tabs {
        margin: 20px auto;
        text-align: center;
        .signups {background: $links;}
        .FTD {background: $sideMenuBor;}
        .earned {background: $green;}
    }
}
/* links */
.links {
    a {
        font-size: 12px;
    }
    .addLink {
        padding: 10px;
        text-align: center;
    }
    .table {
        width: 100%;
        .tableText {width: 40%;}
        .tableLink {width: 60%;text-align: left;}
    }
}

/* banners */
.banners {
    a {
        font-size: 12px;
    }
    .addBanner {
        padding: 10px;
        text-align: center;
    }
    .table {
        width: 100%;
        .tableText {width: 40%;}
        .tableLink {width: 60%;text-align: left;}
    }
}