/* general statistics */
.generalStatistics {
    .inputDateBox {margin: 20px auto;}
	.tableWithDigit {margin: 20px auto;}
    .chart {text-align: center; 
        img {
            width: 100%; 
            max-width: 690px;
            height: auto;
        }
    }
    .tabs {
        margin: 20px auto;
        text-align: center;
        .signups {background: $links;}
        .FTD {background: $sideMenuBor;}
        .earned {background: $green;}
    }
}
/* links */
.links {
    a {
        font-size: 12px;
    }
    .addLink {
        padding: 10px;
        text-align: center;
    }
    .table {
        width: 100%;
        .tableText {width: 40%;}
        .tableLink {width: 60%;text-align: left;}
    }
}

/* banners */
.banners {
    a {
        font-size: 12px;
    }
    .addBanner {
        padding: 10px;
        text-align: center;
    }
    .table {
        width: 100%;
        .tableText {width: 40%;}
        .tableLink {width: 60%;text-align: left;}
    }
}