.personalData {
    .form-group {
        width: 70%;
        padding-left: 15%;
        .label {
            padding: 10px;
        }
    }
    button {
        display: block;
        margin: 20px auto;
    }
}
