.personalData {
    .form-group {
        max-width: 800px;
        margin: 0 auto;
        .label {
            padding: 10px;
        }
    }
    button {
        display: block;
        margin: 20px auto;
    }
}

@media(max-width: 992px) {
    .form-group {
        width: 100%;
        padding: 0;
        text-align: center;
        }
}