//ADD LINK MODAL

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 100px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .checkboxLine {
        margin: 0 2px;
        padding: 0px 10px 0px 35px;
        width: 100%;
    }
    .checkmark {
        top: 5px;
        left: 10px;
    }
    .topRow {
        width: 100%;
        padding: 10px 5px;
        input {width: 100%;}
    }
    .bottomRow {
        text-align: center;
        width: 100%;
        vertical-align: top;
        .inputForm {
            float: left;
            .formInput {
            width: 100%;
            float: left;
        }
        }
        .buttons {
            text-align: center;
            width: 100%;
            float: right;
            .disabledBtn {width: 55%;}
            .themeBtn {width: 40%;}
            button {
                height: 40px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 60px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: auto;
    h2 {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .selectWebsites {
        height: 300px;
        overflow: auto;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


@media(max-width: 767px) {
    .modal {
        left: 0;
    }
}