/* -------- SIDE MENU -------- */
.sideMenu {
    width: 180px;
    height: 100%;
    background: $sideMenu;
    position: fixed;
    z-index: 3;
    .container {
        padding: 0;
    }
    .hamburger {
        text-align: center;
        padding-top: 10px;
        &:hover a {color: $sideMenuBor;}
        a {
            color: $greyButton;
            font-size: 22px;
        }
    }
    .menuLine {
        height: 40px;
        //display: block;
        position: relative;
        padding-top: 5px;
        &:hover {
            background: $sideMenuHov;
            border-left: 4px solid $sideMenuBor;
            .text a {
                color: white;
            }
        }
        .icon {
            text-align: center;
            color: black;
            display: inline-block;
            height: 40px;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .text {
            font-size: 14px;
            font-weight: 300;
            font-family: $brandFont;
            display: inline-block;
            height: 100%;
            a {
                color: $greyButtonHov;
            }
        }
    }
    hr {
        border-color: $greyButton;
    }
}

@media(max-width: 767px) {
    .mainBox {
        width: 100%;
        .smallBox {
            margin: 20px 0;
            .container {
                width: 100%;
                margin-left: 0;
            }
        }
        .dashboard {
            .container {
                padding: 10px 0;
            }
        }
    }
    .sideMenu {
        width: 30%;
        min-width: 180px;
        float: left;
        height: auto;
        .logo, .hamburger {
            height: 50px;
            background: white;
        }
        .visible-sm {
            display: inline-block;
        }
        #dropdown-content {
            width: 100%;
            background: white;
            a {
                color: black;
            }
        }
    }}



/* responsive menu */ 
@media(max-width: 767px) {
    .topMenu {
        top: 0;
        right: 0;
        height: 50px;
        .topMenuBtn{
            top: 0;
            height: 100%;
            .money {
                margin: 0;
    }}}

    .unvisible-menu, .unvisible-sm {display: none;}
    .mainBox {
        left: 0;
        width: 100%;
    }
    .links, .banners, .personalData {
        h3, a {
        display: block;
            text-align: center;
        }
    }
}